//
// Font Embeds
// ---------------------------

@font-face {
    font-family: 'ITCAvantGardeStd';
    src: url('../fonts/ITCAvantGardeStd-Book.eot');
    src: url('../fonts/ITCAvantGardeStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeStd';
    src: url('../fonts/ITCAvantGardeStd-Demi.eot');
    src: url('../fonts/ITCAvantGardeStd-Demi.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'StayRad';
    src: url('../fonts/StayRad.eot');
    src: url('../fonts/StayRad.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

