<div class="index-item-content">

    <div class="project-cover-container" style="background-image: url('{{{cover}}}');">
        
    </div>
    <div class="project-infos-container">
        <span class="project-year">2016</span>
        <h3 class="project-name">{{{title}}}</h3>
        <div class="projcet-description-container">
            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
    </div>
</div>