<h1 class="name title">Marine Amoros</h1>

<ul class="nav-list nav-list-js">
    <li class="nav-item">
        <h2 class="part-title title">Work</h2>
        <div class="sub-nav-list-container work-list-js">
        </div>
    </li>
    <li class="nav-item">
        <h2 class="part-title title">About</h2>
        <div class="sub-nav-list-container about-list-js">
        </div>
    </li>
</ul>