<h3 class="project-name sub-part-name">{{{title}}}</h3>
{{#if subpart}}
<div class="inner-project-nav-list-container">
    <ul class="inner-project-nav-list">
        {{#each subpart}}
        <li class="inner-project-nav-item" data-slug="{{@key}}">{{this}}</li>
        {{/each}}
    </ul>
</div>
{{/if}}