<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Marine Amoros - DA.</title>
    <meta name="description" content="">

    <!-- Open Graph data -->
    <meta property="og:title" content="Title Here">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://www.example.com/">
    <meta property="og:image" content="http://example.com/image.jpg">
    <meta property="og:description" content="Description Here">
    
    {% webpack_entry_css 'app' %}

</head>
<body>

    {% block body %}
        <div class="wrapper">
            {% block menu %}
                {% include "partials/menu.html.twig" %}
            {% endblock menu %}

            {% block content %}
            {% endblock content %}
        </div>
    {% endblock body %}

    {% block javascript %}
        {% webpack_entry_js 'app' %}
    {% endblock javascript %}

    {% block googleAnalytics %}
        <!-- Google Analytics: update UA-XXXXX-X -->
        <!--<script>
        (function(b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function() {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
        </script>-->
    {% endblock %}
</body>
</html>