//
// Font Embeds
// ---------------------------

@font-face {
    font-family: 'ITCAvantGardeStd';
    src: url('/assets/fonts/ITCAvantGardeStd-Book.eot?');
    src: url('/assets/fonts/ITCAvantGardeStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeStd';
    src: url('/assets/fonts/ITCAvantGardeStd-Demi.eot?');
    src: url('/assets/fonts/ITCAvantGardeStd-Demi.woff') format('woff');
    font-weight: 500;
    font-style: normal; 
}

@font-face {
    font-family: 'StayRad';
    src: url('/assets/fonts/StayRad.eot?');
    src: url('/assets/fonts/StayRad.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
