.nav-wrapper {
    padding: 7rem 2rem 0;
    background-color: red;
    box-sizing: border-box;
}

.name {
    font-size: 1.8rem;
}

.nav-list { 
    margin-top: 6rem;
    
    .nav-item {
        margin-bottom: 5.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.part-title {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.sub-part-name {
    font-size: 1.2rem;
    font-family: 'ITCAvantGardeStd', sans-serif;
    font-weight: 500;
    color: $grey;
    margin-bottom: 1.5rem;
}